.venv
.pycache_global
.vscode
.env
__pycache__
*.pyc
venv
alembic
.ruff_cache
.pytype
.pytest_cache
alembic.ini
.mypy_cache
*.env
*.local
*.log
*.sqlite3
*.pkl
*.db
*.DS_Store
*.swp
*.swo
*.tmp
*.bak
*.orig
.idea
