DATABASE_POSTGRES_URL= postgresql+asyncpg://<user>:<password>@<host>:<port>/<database>
DATABASE_MONGO_URL =mongodb+srv://<username>:<password>@cluster0.mongodb.net/test?retryWrites=true&w=majority
MQTT_BROKER_HOST=
MQTT_BROKER_PORT=
MQTT_BROKER_TOPIC=
MQTT_BROKER_CLIENT_NAME=
MQTT_BROKER_KEEPALIVE=
TIME_FOR_SYNC_DATA=